@{
    GroupDocs.Annotation.AspNetMvc.Products.Common.Config.GlobalConfiguration config = new GroupDocs.Annotation.AspNetMvc.Products.Common.Config.GlobalConfiguration();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>Annotation for .NET MVC</title>
    <link rel="icon" type="image/x-icon" href="~/client/dist/favicon.ico" />
</head>
<body>
<client-root></client-root>
<script src="~/client/dist/runtime-es2015.js" type="module"></script>
<script src="~/client/dist/runtime-es5.js" nomodule></script>
<script src="~/client/dist/polyfills-es2015.js" type="module"></script>
<script src="~/client/dist/polyfills-es5.js" nomodule></script>
<script src="~/client/dist/styles-es2015.js" type="module"></script>
<script src="~/client/dist/styles-es5.js" nomodule></script>
<script src="~/client/dist/vendor-es2015.js" type="module"></script>
<script src="~/client/dist/vendor-es5.js" nomodule></script>
<script src="~/client/dist/main-es2015.js" type="module"></script>
<script src="~/client/dist/main-es5.js" nomodule></script>
</body>
</html>